/*
div.image img{
        width:800px;
}

div.image img{
  width: 600px;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


*/
div.right_float{
  width: 600px;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:right;
}
div.left_float{
  width: 600px;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
}
